/* CSS Document */

/*body{
    width: 1024px !important;
    margin: 0 auto;
}*/

.tabla-principal{
    width:100%;
}

.tabla-consulta{
/*     width:80%; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
}


.font-table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
}

.table-ejemplares {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

.table-ficha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	width: 548px !important;
}

.td-table-ficha {
	text-align: left;
	vertical-align: middle;
	width: 70% !important;
}

.th-table-ficha {
	text-align: left;
	vertical-align: middle;
	width: 30% !important;
}

.font-pie {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}

a:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #003366;
	font-size: 12px;
	font-style: normal;
	text-decoration:none;
}

a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-style: normal;
	text-decoration:none;
}

.cabezote-superior {
background: url(../images/cabezote-superior.gif);
/* width:1024px; */
width:100%;
height:145px;
}

.barra-superiorcompleta{
background:url(../images/barra-superiorcompleta.gif);
/* width:1024px; */
width:100%;
height:46px;
}

.parte-central{
background:url(../images/parte-central.gif);
/* width:1024px; */
width:100%;
height:446px;
}

.pie-pagina{
background:url(../images/pie-pagina.gif);
/* width:1024px;	 */
width:100%;
height:45px;

}

.boton-general {
	background:url(../images/botongeneral.png);
	width:46px;
	height:46px;
	border:none;
	background-position:center;
}

.boton-general:hover {
	background:url(../images/botongeneral2.png);
	width:46px;
	height:46px;
	border:none;
	background-position:center;
}

.input:focus, textarea:focus, select:focus {
/* 	background:#9DD582;  */
/* 	color:#000;  */
	border:2px solid #666
}

.boton-cuadrado{
	background: url(../images/boton-cuadrado.png);
	width:85px;
	height:37px;
	border:none;
	background-position:center;
	color:#FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.boton-cuadrado:hover{
	background: url(../images/sbweb-botones2.png);
	width:85px;
	height:37px;
	border:none;
	background-position:center;
	color:#FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.thead {
	background-image: url(../images/thead.gif);
	background-repeat: repeat-x;
}

/* los siguientes hacen parte del juego de reglas para los botones de jquery ui */

.fg-button { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
   }

    
.fg-button { 
    outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; 
}

.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.fg-button { float:left; }

/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; } /* solo icon buttons must have block properties for the text-indent to work */ 

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .5em; margin: 0;  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }

/*demo page css*/
h2 { clear: both; padding-top:1.5em; margin-top:0; } 
.strike { text-decoration: line-through; }

.fg-toolbar { padding: .5em; margin: 0; }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }

.ui-widget {
font-family: Gill Sans,Arial,sans-serif;
font-size: 0.9em !important;
}
